.centreTopTweets{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: 40vw;
    overflow-y: scroll;
    scrollbar-width: none;
}
.homeHeading{
    position: sticky;
    top: 0;
    background-color: #15202B;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.homeHeading > h2 {
    font-size: 20px;
    font-weight: 800;
    color: white;
}
.topTweetSearchIcon {
    height: 100%;
}
.topTweetSearchIcon {
    width: 2em;
    height: 2em;
    /* margin-right: calc(0px + (-1 * (44px - 1.5em)) / 2); */
    margin-left: 740px;
}
.centreTopTweets::-webkit-scrollbar {
    display: none;
}
