.centreTopTweets{
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    min-width: 35vw;
    overflow-y: scroll;
    scrollbar-width: none;
}
.homeHeading{
    display: flex;
    align-items: space-between;
    position: sticky;
    top: 0;
    background-color: #15202B;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.homeHeading > h2 {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 800;
    color: white;

}

.topTweetSearchIcon {
    width: 30px;
    height: 30px;
    
    
}
.centreTopTweets::-webkit-scrollbar {
    display: none;
}
