.tweetBtn {
    display: inline-block;
    color: #ffffff;
    height: 49px;
    width: 230px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 28px 28px 28px 28px;
    border: 0px solid #000000;
    cursor: pointer;
    margin-left: 5px;
    background: #1da1f2;
    font-weight: 900;
    transition: 0.3s;
  }
  .tweetBtn:hover {
    transition: 0.3s;
    background-color: #2290d4;
  }