.post { 
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.postBody {
    flex: 1;
    padding: 10px;
}
.postBody img {
    border-radius: 20px;
}
.tweetFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}
.verifiedLogo {
    font-size: 14px !important;
    color: white;
}

.postHeaderText > h3 {
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

.tweetAvatarWrap {
   padding: 20px;
}

.displayNameVerify {
    font-weight: 600;
    font-size: 12px;
    color: grey;
}
.tweetText {
    color: white;
}
