.footerMoreButton{
    display: flex;
    width: 47px;
    padding-left: 0;
}

.rsMoreBtn{
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    border: none;
    padding-right: 12px;
    color: #6B7B87;
    background-color: #15202B;
    cursor: pointer;
    width: auto;
    padding-left: 0;
}
.rsMoreBtn:hover{
    display: flex;
    justify-content: space-evenly;
    border: none;
    text-decoration: underline;
}
.moreTerms{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
}
.moreTerms button{
    justify-content: space-evenly;
    font-size: 19px;
    background-color:#15202B;
    border: none;
    margin-left: 15px;
    color: white;
}
