.whatsHapSection {
    border: 0px solid;
    margin: 8px 0;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    margin-top: 4%;
    color: white;
    background-color: rgb(25, 39, 52);
}

.whatsHapHeader:hover {
    background-color: rgb(56, 68, 77);
    border-radius: 20px;
}

.whatsHapShowMore:hover {
    background-color: rgb(56, 68, 77);
}

.whatsHapShowMore a {
    color: #2290d4;
    text-decoration: none;
}
.whatsHapHeader {
    border-bottom: 1px solid grey;
}
.firstHappening {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
}
.pWrap {
    display: flex;
    align-items: center;
    font-weight: 900;
}

.firstHappening > h2 {
    font-size: 0.8em;
    color: grey;
}
.firstHappening > p {
    font-weight: 900;
}
.firstHappening img {
    width: 80px;
    height: 80px;
}
.trend {
    color: var(--twitter-color);
}
.secondHappening > h2{
    font-size: 0.8em;
    color: grey;
}
.secondHappening > p {
    font-weight: 900;
}
.secondHappening {
    border-bottom: 1px solid grey;
}