.whoToFollowSection{
    width: 100%;
    border: 0px solid;
    margin: 0;
    outline: none;
    padding: 0;
    border-radius: 25px;
    margin-top: 4%;
    color: white;
    background-color: rgb(25, 39, 52);
}

.whoToFollowHeader:hover {
    background-color: rgb(56, 68, 77);
}

.whoToFollowShowMore:hover {
    background-color: rgb(56, 68, 77);
}

.whoToFollowShowMore a {
    color: #2290d4;
    text-decoration: none;
}

