* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: 100%;
}
.body {
  display: flex;
  flex-direction: row;
}
.left {
  background-color: #15202B;
  width: 25%;
  height: 100vh;
  border: 0.5px solid grey;
}

.centre {
  display: flex;
  flex-direction: column;
  background-color: #15202B;
  width: 50%;
  height: 100vh;
}
.topTweets {
  border: 1px solid grey;
  height: 10vh;
  width: 100vh;
}
.posts{
  border: 1px solid grey;
  height: 12vh;
  padding-bottom: 2vh;
}
.right {
  background-color: #15202B;
  width: 25%;
  height: 100vh;
  border: 1px solid grey;
}