.twitMsg {
  background-color: #1da1f2;
  border-radius: 28px;

  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 22px;
  text-decoration: none;
}
.twitMsg:hover {
  background-color: #1587ce;
}
.twitMsg:active {
  position: relative;
  top: 1px;
}

.tweetBtn {
  background-color: #1da1f2;
  border-radius: 28px;

  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
}
.tweetBtn:hover {
  background-color: #1587ce;
}
.tweetBtn:active {
  position: relative;
  top: 1px;
}

